doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../source/css/atyle.css")
        title My Team 
    body    
        header.header 
            .header__container.container 
                a.logo(href="#")
                    img(src="../source/images/logo.svg", alt="logo")
                nav 
                    ul.nav__list 
                        li.nav__list__item
                            a(href="#") home
                        li.nav__list__item
                            a(href="#") about
                .buttons
                    button contact us               
        main.main 
            section.section     
                .section__container.container 
                    .heading 
                        h2 Find the br best
                            span   talent
                    .heading__text 
                        p Finding the right people and building high performing teams can be hard. Most companies aren’t tapping into the abundance of global talent. We’re about to change that.   
            section.section__page2.container 
                .heading 
                    h2 Build manage distributed teams like no one else.
                .box__container 
                    .box 
                        img(src="../source/images/user1.png", alt="")
                        .box__inner 
                            span Experienced Individuals
                            p Our network is made up of highly experienced professionals who are passionate about what they do.
                    .box 
                        img(src="../source/images/user2.png", alt="")
                        .box__inner 
                            span Experienced Individuals
                            p Our network is made up of highly experienced professionals who are passionate about what they do.
                    .box 
                        img(src="../source/images/user3.png", alt="")
                        .box__inner 
                            span Experienced Individuals
                            p Our network is made up of highly experienced professionals who are passionate about what they do. 
            section.section