doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title About page
        link(rel="stylesheet", href="/source/css/atyle.css")
        link(rel="stylesheet", href="style.css")
    body 
        header.header 
            .header__container.container 
                a.logo(href="#")
                    img(src="../source/images/logo.svg", alt="logo")
                nav 
                    ul.nav__list 
                        li.nav__list__item
                            a(href="../html/index.html") home
                        li.nav__list__item
                            a(href="") about
                .buttons
                    button contact us               
        main.main 
            section.section     
                .section__container.container 
                    .heading 
                        h2 About
                    .heading__text
                        p Finding the right people and building high performing teams can be hard. Most companies aren’t tapping into the abundance of global talent. We’re about to change that.   
            section.section.directors__section.container
                .directors__container
                    h1.diroctrs__title Meet the directors
                    .directors__box 
                        img(src="/about page/imgs/Oval (1).png", alt="")
                        p Nikita Marks
                        p Founder & CEO
                    .directors__box 
                        img(src="/about page/imgs/Oval (2).png", alt="")
                        p Nikita Marks
                        p Founder & CEO
                    .directors__box 
                        img(src="/about page/imgs/Oval (3).png", alt="")
                        p Nikita Marks
                        p Founder & CEO
                    .directors__box 
                        img(src="/about page/imgs/Oval (4).png", alt="")
                        p Nikita Marks
                        p Founder & CEO
                    .directors__box 
                        img(src="/about page/imgs/Oval.png", alt="")
                        p Nikita Marks
                        p Founder & CEO
                    .directors__box 
                        img(src="", alt="")
                        p Nikita Marks
                        p Founder & CEO